*{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(143,117,101,255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    padding: 8px 12px;
    list-style: none;
    display: inline-block;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #36dbf4;
    display: block;
    margin: auto;
    transition: 0.6s;
}
.nav-links ul li:hover::after{
    width:100%
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border:rgba(233, 7, 7, 0.19);
    padding:
}
.logo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}
.stone-btn{
    padding: 10px;
    font-size: 13px;
    border-radius: 20px;
    background-color: rgba(69,116,232,255);
}
.stone-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: blue;
}
.wooden-btn{
    padding: 10px;
    font-size: 13px;
    border-radius: 20px;
    background-color: rgba(69,116,232,255);
}
.wooden-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: blue;
}
.stone-text{
    display: flex;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
}
.buy{
    margin: auto;
    transform: translateY(50%);
    -ms-transform: translateY(-50%);
    padding: 14px;
    font-size: 13px;
    border-radius: 20px;
    background-color: rgba(69,116,232,255);
}
.buy:hover{
    background-color:blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wood-text{
    display: flex;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;
}